{% extends "base.html" %}

{% block content %}

<div class="post-back">
  <a href="../">←</a>
</div>

<h1>{{ section.title }}</h1>

{% if section.content %}
<article class="section-intro">
  {{ section.content | safe }}
</article>
{% endif %}

<ul class="post-list">
  {% for post in section.pages %}
  <li>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    {% if post.date %}
    <span class="post-date">{{ post.date }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<div class="post-back">
  <a href="../">←</a>
</div>

{% endblock content %}